/* Place custom styles below */

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

#redirectToAddNewMedia {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: skyblue;
    border-color: black !important;
    border-radius: 8px;
}

#FilterMoviesButton {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: skyblue;
    border-color: black !important;
    border-radius: 8px;
}

#SubmitItemData {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: skyblue;
    border-color: black !important;
    padding-top: -10px !important;
    border-radius: 8px !important;
}

.removeBtn {
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    border-radius: 8px;
}

.editBtn {
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    border-radius: 8px;
}

.filterBtn {
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    border-radius: 8px;
}

.col-sm-4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    float: left;
}

.col-sm-2 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    float: left;
}

#ID {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 100;
}

#Title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 100;
}

#Type {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 100;
}

#fuskis {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 100;
}

#redirectToRootFromEdit {
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    border-radius: 8px;
}

#redirectToRootButton {
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    border-radius: 8px;
}

/*#redirectToRootButton1 {
        font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    background-color: skyblue !important;
    border-color: black !important;
    width: 20em;
    height: 2em;

}*/
